<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fairket.sdk.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application android:allowBackup="true" >
        <activity
            android:name="com.bhulok.sdk.android.ux.WelcomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Bhulok.Dialog" >
        </activity>
        <activity
            android:name="com.fairket.sdk.android.LockActivity"
            android:theme="@style/Theme.Bhulok.Dialog" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>